Задание 1

In [40]:
from datetime import datetime

The_Moscow_Times = 'Wednesday, October 2, 2002'
The_Guardian = 'Friday, 11.10.13'
Daily_News = 'Thursday, 18 August 1977'

dt_The_Moscow_Times = datetime.strptime('Wednesday, October 2, 2002', '%A, %B %w, %Y')
dt_The_Guardian = datetime.strptime('Friday, 11.10.13', '%A, %m.%d.%y')
dt_Daily_News = datetime.strptime('Thursday, 18 August 1977', '%A, %d %B %Y')

print(dt_The_Moscow_Times)
print(dt_The_Guardian)
print(dt_Daily_News)

2002-10-01 00:00:00
2013-11-10 00:00:00
1977-08-18 00:00:00

Задание 2

In [141]:
from datetime import timedelta

def date_range(start_date, end_date):
    
    range_date = []
    
    try:
        dt_start_date = datetime.strptime(start_date, '%Y-%m-%d')
        dt_end_date = datetime.strptime(end_date, '%Y-%m-%d')
    except:
        return range_date
        
    if dt_start_date > dt_end_date:
        return range_date
    
    else:
        while dt_start_date <= dt_end_date:
            range_date.append(dt_start_date.strftime('%Y-%m-%d'))
            dt_start_date += timedelta(days=1)
        return range_date

# date_range('2022-01-01', '2022-01-03')
# date_range('2022-01-03', '2022-01-01')
date_range('2022-02-30', '2022-02-31')

[]